.no-yj{
    border-radius:0 !important;
}
.label-nav{
    position: absolute;
    top: -13px;
    right: -12px;
    text-align: center;
    font-size: 9px;
    padding: 2px 4px;
    line-height: 0.9;

}
.nav-left {

    margin-top: -20px;

    position:fixed;
    z-index:2;
    text-align:center;


}

.nav-list > ul {
    border: 1px solid #E7E7E7;
    list-style: none;

    background-color: #F9F9F9;
    padding: 0;
    margin: 0;
    min-height:900px;


}

.nav-list > ul > li {
    border-top: 1px solid #e7e7e7;
    display: block;
}

.nav-list > ul > li:first-child {
    border-top: 0;
}

.nav-list > ul > li:last-child {
    border-bottom: 1px solid #E7E7E7;
}

.nav-list > ul > li > a {
    padding: 10px 30px 10px 0;
    display: block;
    color: #777777 !important;
    border-left: 3px solid #F9F9F9;
}

.nav-list > ul > li > a:focus {
    text-decoration: none;
    outline: none;
    color: #08A5E0 !important;
}

.nav-list > ul > li > a:hover {
    color: #08A5E0 !important;
    text-decoration: none;
    background-color: #fff;
    border-left: 3px solid #08A5E0;
}

.nav-left > .user-panel {
    padding: 30px;
    background-color: #F9F9F9;
    border-right: 1px solid #E7E7E7;
}

.nav-left-bottom-border {
    border-bottom: 1px solid #E7E7E7;
}

.nav-left-dropdown-ul {
    background-color: #fff;
    border-left: 3px solid #08A5E0;
    margin-top: -1px;
}

.nav-left > .user-panel > img {
    width: 100px;
    height: 100px;
}

.nav-left-dropdown > ul {
    display: none;
}

.nav-left-dropdown-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.nav-left-dropdown-menu > li {
    border-top: 1px dotted #E7E7E7;
}

.nav-left-dropdown-menu > li > a {
    color: #777777 !important;
    display: block;
    padding: 10px 30px 10px 0;
    text-align:center;
}

.nav-left-dropdown-menu > li > a:hover, .nav-left-dropdown-menu > li > a:focus {
    color: #08A5E0 !important;
    text-decoration: none;
    outline: none;
}

.nav-left-dropdown-menu > li:first-child {
}

.nav-left-dropdown-a {
    background-color: #F9F9F9;
    border-left: 3px solid #08A5E0;
}
.nav-user-img{
    width:20px;height:20px;
}
span{
    color:#808080 !important;
}
.nav-user-img-xiala{
    width:100px; height:100px;
}
a{
    color:#08A5E0 !important;
}
/*a:focus,a:hover{
    color:#0a8cd2 !important;
    outline:none !important;
}*/
.no-hover:hover{
    background:none;
    color:transparent;
}
.nav-username{
    margin-left:8px
}
.nav a:hover{
    background-color:#EEE !important;
}
.no-padding{
    padding:0 !important;
}

.main-right{
    margin-top:-20px;
    padding:20px 0;
}
.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>a:focus{
    outline:none;
    color:#0a8cd2;
    border:1px solid #ddd;
    border-top:1px solid #f00 !important;
    background-color:#EEE !important;
}
.pagination>.active{
    background-color:transparent !important;
}
table{
    color:#666666;
}
.tb-bg>thead{
    background-color:#f7f7f7;
}
.label{
    color:#fff !important;
}
.panel-2{
    border-top:3px solid #244d9f;

}
.panel-3{
    border-top:3px solid #08A5E0;
}
.tb-hover>tbody>tr:hover{
    background-color:#F7F7F7;
}
.user-li-head{
    background-color: #F9F9F9; margin-top: 0; border-bottom: 1px solid #EEEEEE; padding-top: 10px
}
.navbar-brand{
    padding-left :30px;
}
@media only screen and (max-width: 769px) {

    .nav-left{
        display:none;
        z-index:999;
    }
}

.btn-blue{
    background-color: #08A5E0;
    color: #efefef;
}

.btn-blue:hover{
    background-color: #08A5E0;
    color: #efefef;
}

.btn-blue:focus{
    background-color: #08A5E0;
    color: #efefef;
}
.btn-blue:active{
    background-color: #0a8cd2;
    color: #efefef;
}

thead > tr > th {

    position:sticky;

    top:0; /* 第一列最上 */
}

th{
    z-index:2;
    background-color:#F8F8F8;
    height: 33px;
}

.table-inner-border > thead > tr > th,
.table-inner-border > tbody > tr > th,
.table-inner-border > tfoot > tr > th,
.table-inner-border > thead > tr > td,
.table-inner-border > tbody > tr > td,
.table-inner-border > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.table-inner-border > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table-inner-border > thead > tr > th:first-child,
.table-inner-border > tbody > tr > td:first-child{
    border-left: 0;
}

/*//不生效？*/
/*.glyphicon{
    color: inherit !important;
}

.glyphicon-ok{
    color: #5cb85c !important;
}

.glyphicon-remove{
    color: #d9534f !important;
}*/
/*.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
    border-left: 0;
}*/
/*.style-one {
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
!*透明渐变水平线*!
.style-two {
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
!*渐变*!
.style-three {
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}*/
/*.btn-blue:visited{
    background-color: #08A5E0;
    color: #efefef;
}*/
